* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: 	#45b0c7;
    --secondary-color: #d6bd70;
    --third-color: 	#649026;
    --fourth-color: #80c332;
    --fifth-color: 	#459233;
    --font-size:16px;
    --spacing: 8px;
    --title-font: 'Jost', sans-serif;
    --principal-font: 'Noto Sans', sans-serif;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 
body {
 
    margin: 0;
    padding: 0;
}

.tout {
    position: absolute;
    top: 0;
}
header {

    color: white;
    background-color: var(--fourth-color);
    padding-top: 10vh;
    padding-bottom: 3vh;
    text-align: center;
}
#slider {
    overflow: hidden;
    height: 70vh;
    width: 100vw;
    box-shadow: var(--shadow);
}

#slider figure {
    position: relative;
    width: 400%; /* 4 images de 100% */
    left: 0;
    animation : 20s slider infinite;
}

#slider figure img {
    width: 25%; /* 100% divisé par 4 images */
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    5% {
        left : 0;
    }
    33% {
        left: -100%;
    }
    38% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    71% {
        left: -200%;
    }
    100% {
        left: -300%;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: center;
    margin-bottom: 1vw;
}

.logo img {
    margin-left: 5vw;
    opacity: 80;
}

.asso img {
    width: 15vw;
    padding-right: 4vw;
    padding-left: 4vw;
}

.asso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.liane {
    z-index: 1;
    width: 100vw;
    height: 65vh;
    position: relative;
}