* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: 	#45b0c7;
    --secondary-color: #d6bd70;
    --third-color: 	#649026;
    --fourth-color: #80c332;
    --fifth-color: 	#459233;
    --font-size:16px;
    --spacing: 8px;
    --title-font: 'Jost', sans-serif;
    --principal-font: 'Noto Sans', sans-serif;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.avion {
    z-index: 2;
}

h1 {
  font-family: 'Iceberg', cursive;;
}
body {
 
    margin: 0;
    padding: 0;
}

.tout {
    position: absolute;
    top: 0;
}

.carte {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}

section.carte > iframe {
    height: 55vh;
    width: 80vw;
    border: none;
    text-align: center;
    margin-top: 2vh;
}

.h2 {
    text-align: center;
    color: var(--fifth-color);
    font-size: 1.5rem;
    padding-bottom: 6vh;
}

h1 {
    margin-left: 23vw;
    font-size: 8rem;
    padding-top: 10vh;
}
header {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: baseline;
    background-color: var(--fourth-color);
    text-align: center;
}

header img {
    padding-top: 25px;
    height: 15vh;
    margin-left: 22vw;
}
#slider {
    overflow: hidden;
    height: 70vh;
    width: 100vw;
    box-shadow: var(--shadow);
}

#slider figure {
    position: relative;
    width: 800%; /* 4 images de 100% */
    left: 0;
    animation : 50s slider infinite;
}

#slider figure img {
    width: 12.5%; /* 100% divisé par 4 images */
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    10% {
        left : 0%;
    }
    12.5% {
        left: -100%;
    }
    21.5% {
        left: -100%;
    }
    25% {
        left: -200%;
    }
    34% {
        left: -200%;
    }
    37.5% {
        left: -300%;
    }
    46.5% {
        left: -300%;
    }
    50% {
        left: -400%;
    }
    59% {
        left: -400%;
    }
    62.5% {
        left: -500%;
    }
    71.5% {
        left: -500%;
    }
    75% {
        left: -600%;
    }
    84% {
        left: -600%;
    }
    87.5% {
        left: -700%;
    }
    97.5% {
        left: -700%;
    }
    100% {
        left: -700%;
    }
}

.video {
    top: 178vh;
    position: absolute;
    z-index: 1;
    max-height: 1px;
    height: 1px;
    margin-left: 2vw;

}

.toucan {
    position: absolute;
    left: 70vw;
    top: 80vh;
}

.logo {
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: center;
    margin-bottom: 1vw;
}

.logo img {
    margin-left: 5vw;
    opacity: 80;
    margin-bottom: 30px;
    margin-top: 30px;
}

.asso img {
    width: 15vw;
    padding-right: 4vw;
    padding-left: 4vw;
}

.asso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.liane {
    z-index: 1;
    width: 100vw;
    height: 65vh;
    position: relative;
}

footer {
    background-color: var(--fourth-color);
    min-height: 150px;
}